<div class="container">
    <div class="jumbotron">
        <h1>Caltrain app</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Enter a Starting Station:
                <select name="startingStation" ng-model="startingStation" ng-options="s.stop_name for s in stops" ng-change="getStopTimesForStartingStation()">
                </select>
            </label>
        </div>
        <div class="col-md-6">
            <label>Enter an Ending Station:
                <select name="endingStation" ng-model="endingStation" ng-options="s.stop_name for s in stops" ng-change="getStopTimesForEndingStation()">
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div ng-show="startingStationSelected">
                <h2>Departure Times for {{startingStation.stop_name}}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>NorthBound</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="times in stopTimesForStartingStationNB">
                            <td>{{times}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Southbound</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="times in stopTimesForStartingStationSB">
                            <td>{{times}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-show="endingStationSelected">
                <h2>Arrival Times for {{endingStation.stop_name}}</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>NorthBound</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="times in stopTimesForEndingStationNB">
                            <td>{{times}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Southbound</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="times in stopTimesForEndingStationSB">
                            <td>{{times}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
